@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .content-block__mobile {
        display: block;
    }
    .content-text {
        font-size: 16px;
    }

}