@media (max-width: 767px) {
    .block {
        display: none;
    }
    .block-mobile {
        display: flex;
        transform-origin: top center;
        transition: transform 0s;
        flex-direction: column;
        align-items: center;
        align-content: space-between;
        flex-wrap: nowrap;
        width: 767px;
    }



}