* {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    background-color: #000000;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .block {
    transform-origin: top center;
    transition: transform 0s;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    flex-wrap: nowrap;
    width: 1400px;
  }

  .content {
    
    &-block {
        position: absolute;
        max-width: 1920px;
        width: 100%;
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;   
        top: 0;
        z-index:3;   
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        flex-wrap: nowrap;
        &__mobile {
            max-width: 760px;
            width: 98%;
            box-sizing: border-box; 
            position: absolute;
            z-index: 3;
            padding-left: 0;
            padding-right: 0;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
            flex-wrap: nowrap;
        }
    }
    &-line {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        height: 154px;
        margin: -1px;
        &__mobile {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            margin: 0;
            &_1 {
                background-color: #000000;
            }
        }
    }
    &-text {
        font-size: 96px;
        font-weight: 400;
        line-height: 140%;
        background-color: #000000;
        display: inline-block;
        border: 1px solid black;
        box-sizing: border-box;
        margin: -1px;
        &__invisible {
            height: 100%;
            min-width: 100px;
            background-color: lightgrey; 
            border-radius: 4px;
            flex: 1;
            opacity: 0;
            &::after {
                content: '\200B';
                display: block;
                min-height: 80px;
            }
            &-mob {            
                min-width: 50px;
                height: 50px;
                margin: -1px;
            }
        }
        &__mobile {
            font-size: 80px;
            font-weight: 400;
            line-height: 140%;
            background-color: #000000;
            display: inline-block;
            border: 10px solid black;
            box-sizing: border-box;
        }
    }
    &-border {
        flex: 1;
        border: 1px solid black;
        border-bottom-width: 25px;
        border-top-width: 25px;
        box-sizing: border-box;
        display: inline-block;
        padding: 28px 0 28px 0;
        margin: -1px;
        &__mobile {
            flex: 1;
            border: 10px solid black;
            box-sizing: border-box;
            display: inline-block;
            padding: 10px 0 10px 0;
            border-bottom-width: 25px;
            border-top-width: 25px;
            margin: -1px;
        }
    }
    &-invisible {
        position: absolute;
        z-index: -10;
        width: 98%;
        height: 95%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        &__mobile {
            position: absolute;
            z-index: -10;
            width: 98%;
            height: 95%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
    }
  }

  #video {
    flex: 1;
    width: 100%;
    max-height: 100%;  
    z-index: -1;
    object-fit: cover;
  }

  .block-mobile {
    display: none;
  }

  @import 'mobile';



